@use "../../global" as *;

.c-list__service {
    gap: 10%;
    align-items: center;

    &__content {
        width: 40%;

        @include mq('sp') {
            width: 100%;
            text-align: center;
        }

        &--title {
            color: $sub_color_text;
            font-size: 1.8rem;
            font-weight: 500;
            margin-bottom: 16px;
        }
    }

    &__image {
        width: 50%;

        @include mq('sp') {
            width: 100%;
            margin-bottom: 16px;
            text-align: center;

        }
    }
}

