@use "../global" as *;
/*---------------------------------------------------
  layout gloval navigation
-----------------------------------------------------*/
.l-gnav {
    max-width: 1280px;
    padding: 0 24px;
    margin: 0 auto;        
}
.l-ganv-hamburger {
    width: 100%;
    height: 100%;
    padding: calc($layout-height-header-tb + 48px) 24px 48px 24px;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    right: -100%;
    -webkit-transition: right 0.3s;
    transition: right 0.3s;
    z-index: 9990;

    &.active{
      right: 0;
    }
}
