@use "../global" as *;

.l-section-flow {
    @include inner-bg;
    background-color: #f6f6f6;

    &__inner {
        max-width: $layout-width-inner-pc + $layout-padding-inner-pc * 2;
        width: 100%;
        margin: 0 auto;
        padding: 0  $layout-padding-inner-pc;

        @include mq('sp') {
            padding: 0;
        }
    }

}