@use "../../global" as *;

.p-contact {

    &__form {
        position: relative;
        margin-top: 80px;
        background-color: #ffffff;
        border-radius: 16px;
        padding: 64px;

        @include mq('sp') {
            padding: 64px 24px;
        }
    }
}
