$base_color_text: #333333;
$sub_color_text: #E68275;

$btn-color-text: #ffffff;                              /* ボタンのテキストカラー */ 
$btn-color-text-hover: #E68275;                              /* ボタンのテキストカラー */ 
$btn-color-background: #E68275;                         /* ボタンの背景色 */
$btn-color-background-hover: #ffffff;
$btn-color-border: #E68275; 
